/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  align-items: center;
  color: var(--ifm-hero-text-color);
  display: flex;
  padding: 4rem 2rem;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.heroHeader {
  height: 100%;
  object-fit: cover;
  transform: translateY(60px);
  position: absolute;
  top: 0px;
  right: 0;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
